@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-text-main antialiased;
    font-family: 'Lexend', sans-serif;
  }
}

@layer utilities {
  /* Hide scrollbar for clean UI */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Material Symbols Outlined filled style */
  .material-symbols-outlined.fill-1 {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
